{% extends "layout.html" %}
{% block title%}Home{% endblock %}


{% block main %}
<!-- child template -->

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>E-Portfolio Assignment: Flask.</h1>

. Create a basic Flask app that demonstrates:
<ol>
<p><li>The use of templates</li></p><br> 
<p><li>The use of Jinja for loops</li></p><br>
<p><li>The use of Template Inheritance</li></p><br>
</ol>
</hr>
I have been creating profiles for each user, where if the <b>username = user on the page </b> then display the correct user avatar.
</body>
</html>
     
{% endblock %}


